<div ng-controller="LiftNgTime">
  <h1>Tip of the lift-ng Iceburg</h1>

  <!--<div data-lift="comet?type=LiftNgClock"></div>-->
  <div data-lift="Angular.bind?type=ClockBinder"></div>

  <!-- When do you want to get the time? -->
  <!-- Client or server? -->
  <div data-lift="Clock.time">The time</div>

  <div class="pad"></div>

  <!-- Can handle user events -->
  <button ng-click="getTime()">Get Time</button>
  <div>Time: {{theTime}}</div>

  <div class="pad"></div>

  <!-- Can receive events -->
  <button ng-click="startClock()">Start Clock</button>
  <div>Clock: {{theClock.time}}</div>
</div>